$white-color: #f5f5f9;
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.result-text {
  display: inline;
}
.input-box {
  margin-bottom: 1rem;
}
.search-result-container {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background: $white-color;
  max-height: 10rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  list-style: none;
  padding: 0rem 0.5rem;
  max-width: 15rem;
  border-radius: 1px;
}
.search-result-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.check-value-container {
  margin-bottom: 1rem;
}
.check-value-div {
  display: inline-block;

  border-radius: 1rem;
  margin: 0.2rem;
  background: #4c66b3;
  padding: 0.2rem;
}
.check-value-text {
  display: inline-block;
  color: $white-color;
  margin: 0.2rem;
}
.check-value-button {
  border: none;
  background: inherit;
  color: $white-color;
}
